# ignore emacs temp files
*~
# ignore emacs locked files
\#*\#
# ignore my html template - is this needed? let it be?
template.html
template.php
# ignore WSL stuff
*Zone.Identifier*
# ignore my git push script
push.sh
# ignore launching of apache
apache.sh

