/* Modify if too general */
span.itemIcons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

article.fragment {
    max-width: 80%;
}

article div.icons img, article span.editIcon img, div.document span.editIcon img, div.document div.icons img
{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#titleTagEdit input[type="text"] {
    width: 100%;
 
}
article {
    border: 1px solid black;
}
article div.icons, div.document div.icons {
    border: 1px solid blue;
    margin: 5pt;
}

span.itemIcons {
    display: block;
    margin : auto;
}

article div.content section {
    border: 1px solid red;
    margin: 5pt;
}

article div.content section p.desc {
    font-size: 120%;
    font-style: italic;
}

section.video video {
    max-width: 25%;
}

article.fragment div.tags span.tags_list ul, div.document div.tags span.tags_list ul{
    list-style-type: none;
}

article.fragment div.tags span.tags_list ul li, div.document div.tags span.tags_list ul li {
    display: inline
}

/*     position: sticky;
cant get it to work
*/
div.document {
    border: 2px solid gold;
}
