/* Modify if too general */
span.itemIcons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


article div.icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

article {
    border: 1px solid black;
}
article div.icons {
    border: 1px solid blue;
    margin: 5pt;
}

span.itemIcons {
    display: block;
    margin : auto;
}

article div.content section {
    border: 1px solid red;
    margin: 5pt;
}

article div.content section p.desc {
    font-size: 120%;
    font-style: italic;
}

section.video video {
    max-width: 25%;
}

